
<div class="row">
    <div class="col-sm-2">picture</div>
    <div class="col-sm-8">
        <h1 class="text-center">Drone Enthusiasts Community</h1>
        <br />
        <br />
        <br />
        <div class="text-center">
            <p>Home</p>
        </div>
    </div>
    <div class="col-sm-2">picture</div>
</div>