
<div class="row">
    <div class="col-sm-2">picture</div>
    <div class="col-sm-8">
        <h1 class="text-center">Drone Enthusiasts Community</h1>
        <br />
        <br />
        <br />
        <div class="text-center">
            <p>Resources</p>
        </div>
        <div class="border border-dark rounded">
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0">Website Name</h5>
                    Brief description
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">picture</div>
</div>