
<div class="row">
    <div class="col-sm-2">picture</div>
    <div class="col-sm-8">
        <h1 class="text-center">Drone Enthusiasts Community</h1>
        <br />
        <br />
        <br />
        <div class="text-center">
            <p>
                Whether you're a new drone pilot or have years of experience,
                rules and safety tips exist to help you fly safely in the national airspace.
                To get started, find out what rules and regulations apply to your specific situation by going to the
                <a href="https://www.faa.gov/uas/">Federal Aviation Administration</a> website.
                You can then begin researching where it is safe to fly and when you need approval to fly.
            </p>
        </div>
    </div>
    <div class="col-sm-2">picture</div>
</div>