<form method="post">
    <input type="text" autocomplete="on" placeholder="Enter Website Name" name="name" required />
    <hr />
    <input type="text" autocomplete="on" placeholder="Enter Website Address" name="address" required />
    <hr />
    <input type="text" autocomplete="on" placeholder="Enter Description" name="description" required />
    <hr />
    <button type="submit" class="btn btn-primary" asp-controller="Resources" asp-action="AddResource">Add Resource</button>
</form>