<a type="button" class="btn btn-primary" asp-controller="Images" asp-action="Index">Back To Pictures</a>
<div>
    <img src="~/ImageUploads/@Model.Title@Model.Extension" alt="image"
         height="750" width="750"
         asp-append-version="true">
</div>
