<h4>Add New Drone</h4>
<hr />

<form method="post" enctype="multipart/form-data">
    <input type="file" name="files" required />
    <hr />
    <input type="text" autocomplete="off" placeholder="Enter Drone Name" name="name" required />
    <hr />
    <input type="text" autocomplete="off" placeholder="Enter Drone Description" name="description" required />
    <hr />
    <input type="text" autocomplete="off" placeholder="Enter Drone Size" name="size" required />
    <hr />
    <input type="text" autocomplete="off" placeholder="Enter Drone Weight" name="weight" required />
    <hr />
    <button type="submit" class="btn btn-primary" asp-controller="Drones" asp-action="AddDrone">Add Drone</button>
    <a asp-controller="Drones" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>